services:
  # Django App
  backend:
    container_name: django
    build: .
    command: uvicorn core.asgi:application --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./:/app
    ports:
      - 8000:8000
    depends_on:
      - django_redis

  # Redis
  django_redis:          # ✅ Misma sangría que "backend"
    image: redis         # ✅ 2 espacios de sangría
    container_name: django_redis
    ports:
      - 6379:6379


    # Database
  django_db:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: django_db
      MYSQL_USER: django
      MYSQL_PASSWORD: mysql123
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data: